.bg-image {
    background-image: url('../../assets/SignInBG1.jpg');
    background-size: cover;
    background-position: center;
  }
  .card {
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }